@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&family=Roboto+Slab:wght@100&family=Tiro+Gurmukhi&display=swap');

html {
    scroll-behavior: smooth;
  }
  body {
    font-family: 'Advent Pro', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #FFFAE1;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
  }
  h2 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
  }
  a {
    text-decoration: none;
    color: black;
  }
  /* ******************* NAVBAR ******************* */
  nav {
    overflow: hidden;
    background-color: #FFFAE1;
    position: fixed;
    width: 100%;
    opacity: 0.9;
  }
  header li {
    float: right;
    font-size: 1.2em;
  }
  header li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
  }
  #logo {
    font-family: 'Tiro Gurmukhi', cursive;
    font-weight: bold;
    float: left;
  }

  #imagePrincipale {
    padding-top: 100px;
    background: url(média/Plan\ de\ travail\ 1.png) 100% 100%;
    background-size: cover;
    height: 300px;
    text-align: center;
    margin-top: 0;
    background-color: black;
  }
  h1 {
    text-align: center;
    margin: 30px;
    font-size: 3em;
  }


  #Presentation-LGDC {
    font-family: 'Tiro Gurmukhi', cursive;
    text-align: center;
    font-size: 1.3em;
    margin: 15px;
    font-weight: 300;
    background-color: #FFFAE1;
  }